/*-- scss:defaults --*/

// colors
//$final-slide-bg: #7B63B6;
//$main-color: #397EE3;
$main-color: #0048A4;
$final-slide-bg: #43464B;
$final-slide-txt: #F3F3F3;
$important: #E54330;

/* Custom styles for Reveal.js menu */
.reveal {
  --menu-background-color: red; /* Change this to your desired background color */
  --menu-color: #fff; /* Change this to your desired text color */
}

// Fonts

$presentation-font-size-root: 30px;

/*-- scss:rules --*/

// ----------------  FINAL SLIDE

.final-slide {
  background-color: $final-slide-bg!important;
  padding-top: 25%;
}

.final-slide a {
  color: $final-slide-txt!important;
}

.reveal h2 {
  color: $main-color!important;
}

// ----------------  TWEAKS

// pro-cons

.pros ul li::marker {
  content: "✅    ";
  font-size: 80%;
}

.cons ul li::marker {
  content: "❌   ";
  font-size: 80%;
}

// important

.imp {
  color: $important;
  font-weight: bold;
}

// hide menu button

.reveal .slide-menu-button {
  display: none!important;
}

// ----------------  SLIDE NUMBER

.reveal .final-slide .slide-number {
  font-size: 100px;
}

.reveal .slide-number {
  font-size: 24pt;
  color: black; 
}

// hide slide number trick https://github.com/quarto-dev/quarto-cli/discussions/5566#discussioncomment-5925054

.reveal .slide-number > a[href*='title-slide'] {
  display: none;
}

.reveal .slide-number > a[href*='final-slide'] {
  display: none;
}

.reveal .slide-number > a[href*='TOC'] {
  display: none;
}

.has-dark-background .slide-number{
  display: none!important;
}

// ----------------  CODE

.reveal code {
  font-size:70%;
  background: lightgray;
  color: black;
  border-radius: 1ch;
  padding-block: 0.2ch;
  padding-inline: 1ch;
}

// ----------------  EXTRA SLIDES

.extra h2{
  color: #D63168!important;
}

.extra h2::before{
  content: "💬";
}

// ----------------  SECTION SLIDES

.section {
  background-color: $main-color!important;
  color: #F3F3F3!important;
}

.section h1::before{
  content: "> \00a0";
}

// ----------------  QUESTIONS SLIDES

.question h1 {
  color: black!important;
}

.question h1::before{
  content:"❓\00a0";
}

/// ----------------  NOTATION SLIDE

.notation-slide h2{
  text-align: center;
}

.notation-slide h2::before{
  content: "📰";
}

.notation-slide li{
  margin: 50px 0;
}