/*-- scss:rules --*/

.pros ul li::marker {
  content: "✅    ";
  font-size: 80%;
}

.cons ul li::marker {
  content: "❌   ";
  font-size: 80%;
}

p code:not(.sourceCode){
  font-size:70%;
  background: lightgray;
  color: black;
  border-radius: 1ch;
  padding-block: 0.2ch;
  padding-inline: 1ch;
}